body{
  margin:0px;
  padding:0px;

}

.panel{
  margin-top: 100px;
}

.panel .card{
  display:inline-block;
  margin:10px;
}

.view_panel{
  margin-top:0px;
  min-height: 580px;
  overflow-y: hidden;
}

.left-panel{
  display: inline-block;
  float: left;
  width:30%;
  padding:30px;
}
.right-panel{
  display:inline-block;
  float:right;
  width:70%;
  padding:30px;
}

.pagination{
  width:10%;
  margin:0px auto;
}

#product_name{
  display:inline;
  float:left;
}
#product_delete{
  display: inline;
  float:right;
}
#product_price{
  display:inline;
  float:right;
  margin:0px 10px;
}
#product_delete:hover{
  color: red;
  cursor:pointer
}
.order{
  margin-top:100px;
}
